.git
.github
node_modules
*.pyc
__pycache__
.pytest_cache
.tox
*.egg-info
dist
build
.venv
venv
*.sqlite
Dockerfile*
docker-compose*
.dockerignore
.travis.yml
.gitattributes
docs
terraform
monitoring
scripts
*.md
!setup.cfg
!README.md